rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	
    function isAdmin(){
    	return request.auth != null && request.auth.uid == 'bqiHeUsh3ASyhQshMsVpbdfwx3o1';
    }
    function isUser(userId){
    	return request.auth != null && request.auth.uid == userId;
    }
    function isUpdateFullName(){
    	return request.resource.data.diff(resource.data).affectedKeys()
        .hasAny(['studentCode', 'fullName', 'targetSuccess', 'levelReview']);
    }
    //add data at the first time
    function isInitData(){
    	return request.resource.data.diff(resource.data).changedKeys().size() == 0;
    }
		function isUpdateConfirmTrue(){
    	return request.resource.data.diff(resource.data).affectedKeys().hasAny(['confirm']);
    }
    function emptyTargetSuccess(){
        return resource.data.targetSuccess == [] && resource.data.confirm == [];
    }
    
    match /activities/{idDoc} {
      allow read;
      allow write: if isAdmin();
    }
    match /slide_show/{docId} {
      allow list;
      allow read, write: if isAdmin();
    }
    match /users/{userId} {
    	allow create: if isUser(userId) && emptyTargetSuccess();
      allow update: if isUser(userId) && !isUpdateConfirmTrue()
      	&& (emptyTargetSuccess() || !emptyTargetSuccess() && !isUpdateFullName() || isInitData())
      allow get: if isUser(userId);
      allow read, write: if isAdmin();
    }
  }
}