.content {
	background-color: white;
	padding-top: 5px;
	min-height: calc(100vh - 121px);
}
.contentAdminManageUser {
	min-height: calc(100vh - 121px);
}
.search {
	width: 100%;
	padding: 0 50px;
	display: flex;
	margin-bottom: 5px;
}
.itemCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
.itemBetween {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.mt {
    margin-top: 1rem;
}
@media only screen and (max-width: 750px) {
	.search {
		padding: 0;
	}
	.contentAdminManageUser {
		min-width: 100%;
	}
}
